.lesson-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
  height: 100%;
  padding: 0.5rem;

  &-section {
    display: grid;
    height: 100%;

    &.illustration {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 90%;
        max-height: 430px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .lesson-form-container {
    display: flex;
    justify-content: center;

    &-section {
      &.illustration {
        display: none;
      }
    }
  }
}
